.page2-wrapper {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.page2-image {
    max-width: 700px;
    width: 90%;
    border-radius: 16px;
    box-shadow: 0 10px 40px rgba(0,0,0,0.5);
}